/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Header
-------------------------------------------------------------- */


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}

/* Body */
body {
  background-color: #00172b;
}

/* =Header
-------------------------------------------------------------- */
#pages-nav-container {
    height: 100%;
    float: right;
}
#site-header {
  color: #fff;
  background-color: #3a52af;
  position: relative;
  z-index: 40;
  padding: 0.5em;
  box-shadow: 0 0.325em 0 rgba(0,0,0,0.1);
}
h1#site-title a {
  color: #fff;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
  padding: 0,0,0.5em,0;
  vertical-align:text-top;
}
#site-title a:link, #site-title a:visited {
  color: #fff;
}
.has-pages #site-title {
  padding-left: 2.25em;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  background-color: #126938;
  color: #fff;
  border:none;
  box-shadow: none;
  /*border: 1px solid rgba(0,0,0,1);
  border-radius: 1px;*/
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #fff;
  color: #003e7e;
  box-shadow: none;
}

/* =Add Place Button
-------------------------------------------------------------- */
#add-place-btn-container {
  background-color: #126938;
  color: #fff;
  box-shadow: 0;
}

#site-title img{
  height:1.25em;
  line-height:1em;
  vertical-align:text-top;
}
/* =Close Button
-------------------------------------------------------------- */
a.close-btn {
  background: #fff;
  color: #ff5e99;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.125em;
  float: left;
  display: block;
  position: absolute;
  top: -1.325em;
  left: 0.5em;
  padding: 0.325em 0.625em;
  z-index: 2;
  box-shadow: none;
  border-radius: 0.325em 0.325em 0 0;
}

/* =Ticker
-------------------------------------------------------------- */
#ticker {
  background-color: #fff;
}

/* = Geocoding
-------------------------------------------------------------- */
div#geocode-address-bar {
  background-color: #3e52a4;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
input.geocode-address-field {
  background-color: #fff;
}
/* =Footer
-------------------------------------------------------------- */
#colophon {
  background-color: #3e52a4;
  color: #ddd;
  padding: 1em 0.5em;
  box-shadow: inset 0 0.325em rgba(0,0,0,0.1);
  text-align: center;
}

/* = Typography
-------------------------------------------------------------- */
h1 {
  font-size: 2em;
  font-family: "Lato", serif;
}

.recent-points a {
  color: #58585a;
  text-decoration: none;
  float: left;
  border-top: 1px solid #888;
  border-bottom: 1px solid #666;
  padding: 0.5em 0.5em 0.5em 3em;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


