{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="/">
  <img src="/static/images/image001.png">
  {{config.app.title}} <small>PB</small>
</a>

{% endblock %}

{% block meta %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/aha2jwg.css">
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
  {% endif%}
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">built by Poe<b>Public</b></span></p>
{% endblock %}

{% block cdn_load %}
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script>
  Shareabouts.PlaceFormView.prototype.events = $.extend(
    Shareabouts.PlaceFormView.prototype.events,
    { 'change [name="private-anonymous_name"]': 'onAnonymityChange' }
  );

  Shareabouts.PlaceFormView.prototype.onAnonymityChange = function(evt) {
    var el = evt.currentTarget;
    if (el.value == 'false') {
      this.$('[name="private-submitter_name"]').attr('name', 'submitter_name');
    } else {
      this.$('[name="submitter_name"]').attr('name', 'private-submitter_name');
    }
  };
</script>
{% endblock %}
