{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="/">
  <img src="/static/images/image001.png">
  {{config.app.title}} <small>PB</small>
</a>

{% endblock %}

{% block meta %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/aha2jwg.css">
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
  {% endif%}
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">built by Poe<b>Public</b></span></p>
{% endblock %}

{% block cdn_load %}
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script>
  // Add special events for when:
  //
  // (1) The anonymity selection changes. In this instance, we should switch the
  //     `submitter_name` field to private if anonymity is true, otherwise not
  //     private.
  // (2) The preferred contact selection changes. If the value is `email`, then
  //     make the email input required. If the value is `phone` then make the
  //     phone input required.
  Shareabouts.PlaceFormView.prototype.events = $.extend(
    Shareabouts.PlaceFormView.prototype.events,
    { 'change [name="private-anonymous_name"]': 'onAnonymityChange',
      'change [name="private-preferred_contact"]': 'onPreferredContactChange' }
  );

  Shareabouts.PlaceFormView.prototype.syncAnaonymity = function(el) {
    el = el || this.$('[name="private-anonymous_name"]');
    if (el.val() == 'false') {
      this.$('[name="private-submitter_name"]').attr('name', 'submitter_name');
    } else {
      this.$('[name="submitter_name"]').attr('name', 'private-submitter_name');
    }
  }

  Shareabouts.PlaceFormView.prototype.onAnonymityChange = function(evt) {
    var el = $(evt.currentTarget);
    this.syncAnaonymity(el);
  };

  Shareabouts.PlaceFormView.prototype.syncPreferredContact = function(el) {
    el = el || this.$('[name="private-preferred_contact"]');

    this.$('[name="private-email"]').removeAttr('required');
    this.$('[name="private-phone"]').removeAttr('required');

    if (el.val() == 'email') {
      this.$('[name="private-email"]').attr('required', 'required');
    } else if (el.val() === 'phone') {
      this.$('[name="private-phone"]').attr('required', 'required');
    }
  };

  Shareabouts.PlaceFormView.prototype.onPreferredContactChange = function(evt) {
    var el = $(evt.currentTarget);
    this.syncPreferredContact(el);
  }

  // Override the `PlaceFormView.render` method to call `syncAnonymity` and
  // `syncPreferredContact` when it's first rendered. We listen for these on
  // change, but need to initialize them as soon as they exist as well.
  var PlaceFormView_render = Shareabouts.PlaceFormView.prototype.render;
  Shareabouts.PlaceFormView.prototype.render = function() {
    PlaceFormView_render.call(this);
    this.syncAnaonymity();
    this.syncPreferredContact();
    return this;
  }
</script>
{% endblock %}
